@tailwind base;
@tailwind components;
@tailwind utilities;
@fontsource /roboto/300.css;
@fontsource /roboto/400.css;
@fontsource /roboto/500.css;
@fontsource /roboto/700.css;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-user-location-accuracy-circle {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0 !important;
}
