@tailwind base;
@tailwind components;
@tailwind utilities;
@fontsource /quicksand/300.css;
@fontsource /quicksand/400.css;
@fontsource /quicksand/500.css;
@fontsource /quicksand/700.css;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Quicksand",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Quicksand" !important;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-user-location-accuracy-circle {
  display: none;
}

.mapboxgl-ctrl-top-right {
  top: 65px !important;
  right: 10px !important;
}

.mapboxgl-popup-content {
  padding: 0 !important;
}

.MuiSvgIcon-root {
  background: none !important;
}

button.mapboxgl-ctrl-zoom-in {
  background: #308eab !important;
  border-radius: 50% 50% 0 0 !important;
  width: 56px !important;
  height: 56px !important;
  padding: 12px 12px !important;
  margin: 0 0 !important;
  border: none !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button.mapboxgl-ctrl-zoom-in:not(:focus):hover {
  background: #156f8b !important;
}

button.mapboxgl-ctrl-zoom-out {
  background: #308eab !important;
  width: 56px !important;
  height: 56px !important;
  padding: 12px 12px !important;
  margin: 0 0 !important;
  border: none !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button.mapboxgl-ctrl-zoom-out:not(:focus):hover {
  background: #156f8b !important;
}

button.mapboxgl-ctrl-compass {
  background: #308eab !important;
  border-radius: 0 0 50% 50% !important;
  width: 56px !important;
  height: 56px !important;
  padding: 12px 12px !important;
  border: none !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button.mapboxgl-ctrl-compass:not(:focus):hover {
  background: #156f8b !important;
}

button.mapboxgl-ctrl-geolocate {
  background: #308eab !important;
  border-radius: 50% !important;
  width: 56px !important;
  height: 56px !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
  padding: 12px 12px !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button.mapboxgl-ctrl-geolocate:not(:focus):hover {
  background: #156f8b !important;
}

.mapboxgl-ctrl-icon {
  filter: brightness(10);
}

.mapboxgl-ctrl-group {
  background: #125c7300 !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
  border-radius: 28px !important;
}
